<% include ./partials/header%>
  <body>
<div class="container"> 
  <div class="ui large menu">
    <div class="right menu">
      <a class="item"> Register</a>
      <a class="item">Log In</a>
    </div>
  </div>
</div>

    <h1 class="ui header aligned center "> Todo App</h1>
    <h3 class="ui header aligned center "> This is an web application to list , record ,manage your todos </h3>

    <div class="ui segment inverted container center aligned ">
          <a href="/login" class="ui inverted basic huge green button">Log In</a>
          <a href="/register" class="ui inverted basic huge green button">Sign Up</a>

  </div>
  </body>
</html>
