<% include ./partials/header%>

<body>

    <div style="height:15%;">

    </div>
    <h2 class="ui aligned center container">TODO LOGIN PAGE</h2>
    <div class="ui aligned center container">
    <form  class="ui form" action="/login" method="POST">

        <div class="field">
            <label >Username</label>
            <input class="ui input" type="text" name="user[name]">
        </div>
        <div class="field">
            <label for="">Password</label>
            <input type="password" name="user[password]">
        </div>
        <button type="submit" class="ui button primary">Log In</button>
    </form>

</div>
<% include ./partials/footer%>